
@{
    ViewBag.Title = "Gestion Catalogo";
}
    <h2>ViewBag.Title</h2>
<div class="row" style="text-align:center;padding:5px">
    <div class="menu">
        <a href="~/gcatalogos/nuevo" class="btn btn-primary">Nuevo</a>
        <a href="~/gcatalogos/nuevo" class="btn btn-primary">Modificar</a>
        <a href="~/gcatalogos/nuevo" class="btn btn-primary">Eliminar</a>
        <a href="~/gcatalogos/nuevo" class="btn btn-primary">Consultar</a>
    </div>
</div>

